competition2/data/*
competition2/data2/*
competition2/data3/*
competition2/data4/*
competition2/definitive_data/*
competition2/definitive_data_cf/*
competition2/data5/*
competition2/models/*
competition2/outputs/*
competition2/preprocessing/*
competition2/utils/*